footer {
    background-color: var(--noir);
    height: 15vh;
    padding: 3vh;
}  

footer h2, footer p {
    color: white;
}

#footer-container {
    display: flex;
    justify-content: space-between;
}

p:nth-child(2) {
    text-align: center;
}