header {
  background-color: var(--gris);
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: var(--noir);
  font-size: 1.5rem;
}

#return-home {
  margin-left: 2vh;
  border-radius: 2vh;
  padding: 1vh 2vh;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: var(--blanc);
  color: var(--noir);
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.2rem;
    padding: 3vh;
    padding-top: 5vh;
  }

  #return-home {
    padding: 0.8vh 1.5vh;
    font-size: 0.9rem;
    position: relative;
    top: 6vh;
  }
}
