header {
  background-color: var(--gris);
  height: 15 vh;
  width: 100vw;
}

header h1 {
  color:  var(--noir);
  text-align: center;
  font-size: 1.5rem;
  padding: 7vh;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.2rem;
    padding: 3vh;
    padding-top : 5vh;
  }
}
