section {
  display: flex;
  flex-direction: column;
  background-color: var(--gris);
  gap: 1rem;
  padding: 5rem;
}

#author-name {
  font-size: xx-large;
  font-weight: 400;
}

#biography-text {
  font-size: xx-large;
  font-weight: 100;
}

#ouvrages {
  display: grid;
  height: 100%;
  width: 100%;
  max-width: 10rem;
  padding: 1vh;
}

#author-cover {
  margin: auto;
  width: 100%;
}

#book-title {
  font-weight: bold;
}

#book-title:hover {
  text-decoration: line-through;
  cursor: pointer;
}

#book-cover:hover {
  cursor: pointer;
}
