#book-detail {
  padding: 3vh;

}

#book-section-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#book-description,
#author-date,
#book-review {
  font-family: "Quicksand", sans-serif;
}

#book-section-image {
  margin-bottom: 3vh;
}

@media (max-width: 1224px) {
  #book-section-image {
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;
    border-radius: 10px;
  }

  #book-cover-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(6px);
    z-index: 1;
    border-radius: inherit;
  }

  #book-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

@media (min-width: 1224px) {
  #book-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 3rem;
    gap: 2rem;
  }

  #book-section-image {
    grid-column: 1 / 2;
  }

  #book-section-infos {
    grid-column: 2 / 3;
  }

  #book-cover {
    display: block;
    margin: 0 auto;
    width: 40vh;
    border-radius: 10px;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
  }

  #book-description {
    max-width: 70vh;
  }

  #author-date {
    font-style: italic;
  }

  #book-cover-blur {
    display: none;
  }
}
