@font-face {
  font-family: "Cormorant-Garamond-italic";
  src: local("Cormorant Garamond Italic"),
    url("../fonts/Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Cormorant-Garamond";
  src: local("Cormorant Garamond"),
    url("../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}
