@import url(./elements/footer.css);
@import url(./elements/header.css);
@import url(./fonts.css);

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir : #222222;
    --gris : #EBEAE8;
    --blanc: #F9F8F6;
}

main{
    background-color: var(--gris);
    margin: 0;
}
