@import url(./header.css);
@import url(./footer.css);
@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir : #222222;
    --gris : #EBEAE8;
    --blanc: #F9F8F6;
}