@import url(./elements/footer.css);
@import url(./elements/header.css);
@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir : #222222;
    --gris : #EBEAE8;
    --blanc: #F9F8F6;
}

main{
    background-color: var(--gris);
    margin: 0;
}